extends ./layout.pug

block title
	title #{title}

block content
	header
		h1 AP - #{device.mac}
		p AP의 개별 설정 화면입니다.
		hr
	body(onload='showMenu()', href='javascript:void(0)')
		form(method='post', action=device.mac + '/update')
			fieldset
				legend 설정
				fieldset
					table
						tr
							td MAC 주소:
							td
								input(type='hidden', name='_id', value=device._id.toHexString())
								input(type='text', name='mac', value=device.mac)
				br
				fieldset
					legend AP 펌웨어 정보
					table
						tr
							td 펌웨어 이름:
							td
								input(type='text', name='fw_name', value=device.fw.fw_name)
						tr
							td 펌웨어 버전:
							td
								input(type='text', name='fw_ver', value=device.fw.fw_ver)
						tr
							td 펌웨어 주소:
							td
								input(type='text', name='fw_download_path', value=device.fw.fw_download_path)
						tr
							td 펌웨어 암호키:
							td
								input(type='text', name='fw_md5', value=device.fw.fw_md5)
				br
				fieldset
					legend AP 설정 정보
					table
						tr
							td 동작 모드:
							td
								input#opmode0(type='radio', name='op_mode', value='0')
								|   NAT 
								input#opmode1(type='radio', name='op_mode', value='1')
								|   Bridge
						tr
							td 네트워크(SSID):
							td
								input(type='text', name='ssid', value=device.config.ssid)
						tr
							td 암호:
							td
								input(type='text', name='password', value=device.config.password)
						tr
							td 숨김:
							td
								input#hidden0(type='radio', name='hidden', value='0')
								|   공개 
								input#hidden1(type='radio', name='hidden', value='1')
								|   비공개
						tr
							td 모드:
							td
								select#mode(name='mode')
									option#mode0(value='0') 2.4GHz(b+g)
									option#mode1(value='1') 2.4GHz(b)
									option#mode2(value='4') 2.4GHz(g)
									option#mode9(value='9') 2.4GHz(b+g+n)
						tr
							td 채널 대역폭:
							td
								input#bandwidth0(type='radio', name='bandwidth', value='0')
								|   20MHz 
								input#bandwidth1(type='radio', name='bandwidth', value='1')
								|   40Mhz
								input#bandwidth1(type='radio', name='bandwidth', value='1')
								|   80Mhz (기본값 80MHz)
						tr
							td 채널:
							td
								select#channel(name='channel')
									option#channel0(value='0') 자동선택
									option#channel1(value='1') 2412MHz(Channel 1)
									option#channel2(value='2') 2417MHz(Channel 2)
									option#channel3(value='3') 2422MHz(Channel 3)
									option#channel4(value='4') 2427MHz(Channel 4)
									option#channel5(value='5') 2432MHz(Channel 5)
									option#channel6(value='6') 2437MHz(Channel 6)
									option#channel7(value='7') 2442MHz(Channel 7)
									option#channel8(value='8') 2447MHz(Channel 8)
									option#channel9(value='9') 2452MHz(Channel 9)
									option#channel10(value='10') 2457MHz(Channel 10)
									option#channel11(value='11') 2462MHz(Channel 11)
									option#channel12(value='12') 2467MHz(Channel 12)
									option#channel13(value='13') 2472MHz(Channel 13)
						tr
							td 송신 출력:
							td
								input#power0(type='radio', name='power', value='0')
								|   100%(기본값 100%)
								input#power1(type='radio', name='power', value='1')
								|   70% 
								input#power2(type='radio', name='power', value='2')
								|   50%
								input#power3(type='radio', name='power', value='3')
								|   35% 
								input#power4(type='radio', name='power', value='4')
								|   15%
						tr
							td PVS 접근 주기:
							td
								input(type='text', name='pvs_period', value=device.config.pvs_period, size='5')
								|   (일)
				br
				input(type='submit' onclick='return clickedSubmit("변경된 내용으로 저장하시겠습니까?")' value='적용')
	
	
	script.
			function showMenu() {
				var menu = document.getElementById('deviceMenu');
				menu.className += " w3-show";
				checkMode();
			}
			
			function checkMode() {
				value = "#{device.config.hidden}";
				hidden = document.getElementById('hidden' + value);
				hidden.checked = true;

				value = "#{device.config.op_mode}";
				opmode = document.getElementById('opmode' + value);
				opmode.checked = true;
				
				value = "#{device.config.bandwidth}";
				bandwidth = document.getElementById('bandwidth' + value);
				bandwidth.checked = true;

				value = "#{device.config.power}";
				power = document.getElementById('power' + value);
				power.checked = true;

				value = "#{device.config.channel}";
				channel = document.getElementById('channel' + value);
				channel.selected = true;

				value = "#{device.config.mode}";
				mode = document.getElementById('mode' + value);
				mode.selected = true;
			}

			function selectSubmit() {
				var channel = document.getElementById('channel');
				channel.value = channel.options[channel.selectedIndex].value;

				var mode = document.getElementById('mode');
				mode.value = mode.options[mode.selectedIndex].value;
			}

			function clickedSubmit(e) {
				if(confirm(e)) {
					selectSubmit();
					return true;
				}
				return false;
			}
